<div class="footer">
  <div class="footer-icons">
    <div class="footer-icon-list">
      <a href="https://github.com/sigalsax" target="_blank"><i class="fab fa-github icon"></i></a>
      <a href="/resume" target="_blank"><i class="fas fa-file-alt icon"></i></a>
      <a href="https://www.linkedin.com/in/sigalsax/" target="_blank"><i class="fab fa-linkedin icon"></i></a>
    </div>
  </div>
  <div class="footer-wrapper">
    <p class="footer-description">Sigal Sax 2019 &#169; | Made with love and lots of avocado breaks.</p>
  </div>
</div>
