<div class="footer">
  <div class="footer-icons">
    <div class="footer-icon-list">
      <i class="fab fa-github icon"></i>
      <i class="fas fa-file-alt icon"></i>
      <i class="fab fa-linkedin icon"></i>
    </div>
  </div>
  <div class="footer-wrapper">
    <p class="footer-description">Sigal Sax 2018 &#169; | Made with love and lots of avocado breaks.</p>
  </div>
</div>
