<nav class="navbar-header">
  <div class="logo-wrapper">
    <img src="images/avohorizontal.png" class="sigal-logo">
  </div>
  <ul class="navbar-list">
    <li><a href="/about">about me</a></li>
    <li><a href="/projects">projects</a></li>
    <li><a href="/contact">contact</a></li>
  </ul>
</nav>
