<nav class="navbar-header">
  <div class="logo-wrapper">
    <!-- <img src="images/avohorizontal.png" class="sigal-logo"> -->
  </div>
  <ul class="navbar-list">
    <li class="nav-option"><a href="/about">about me</a></li>
    <li class="nav-option"><a href="/projects">projects</a></li>
    <li class="nav-option"><a href="/contact">contact</a></li>
  </ul>
</nav>
