<nav class="navbar-header">
  <div class="logo-wrapper">
    <a href="/"><img src="images/avo_logo_one.png" class="sigal-logo"> </a>
  </div>
  <ul class="navbar-list">
    <li class="nav-option"><a href="/projects">Portfolio</a></li>
    <li class="nav-option"><a href="/resume">Resume</a></li>
    <li class="nav-option"><a href="/contact">Contact</a></li>
  </ul>
  <br>
</nav>
