<% include partials/head.ejs %>
<% include partials/nav.ejs %>


<div class="projects-page">
  <div class="projects-page-top">
    <div class="projects left-side">
      <div class="opportunity">
        <div class="opportunity inner-left box">
          <h3 class="section-title">The Opportunity</h3>
          <p class="section-description">CyberArk is hosting their 2017 CyberArk IMPACT Conference. In attendance, over 1000 employees, current and prospective customers, and partners. As part of their conference, CyberArk needs an interactive application to be paired with the conference’s theme of ‘Thinking Like an Attacker’.</p>
        </div>
      </div>

      <div class="solution">
        <div class="solution-info inner-left box">
          <h3 class="section-title">The Solution</h3>
          <h2 class="subsection">Build an app!</h2>
          <p class="section-description">The solution is a game similar to a virtual version of Capture the Flag. A flag is defined as an combination of usernames, passwords, and SSH keys. Users are tasked to find these flags/hints to a flag location on the computer by 'thinking like an attacker' and working to mine sensitive information. For example, flags could be hidden in emails, images, icons, computer configurations, etc. Each flag has different numerical scores depending on its difficulty level to find it. Participants are tasked to find as many credential pair vulnerabilities within 10 minutes and place them into the application’s allotted fields. </p>
        </div>
        <div class="user-flow">
          <div class="user-flow-info info">
            <h2 class="subsection sub">User Flow</h2>
            <div class="user-flow-images">
              <img class="user-flow-outline" src="images/impactuserflow.png">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="right-side side-wrapper">
      <div class="project-right project-about inner-right">
        <div class="section-header">
          <p class="section-header-right">2017 IMPACT Conference</p>
          <p class="section-description-right">The IMPACT Conference is Cyberark's annual where employees, partners, and customers come together for training, networking, exposure to new CYBR products, and to learn about what's new in the cyber space.</p>
        </div>
         <div class="project-image-wrapper">
           <p class="section-subheader-right">Logo</p>
           <img src="images/impact.png" style="background-color:#e2e2e2;" class="kosher-logo project-logo section-description-right">
         </div>
        <!-- <div class="project-right-view">
          <p>View website</p>
          <i class="fas fa-angle-right"></i>
        </div> -->
      </div>

      <div class="project-right project-details inner-right">
        <div class="section-header">
          <p class="section-subheader-right">Project Timeline</p>
          <p class="section-description-right">1 month</p>
        </div>
        <div class="section-header">
          <p class="section-subheader-right">Services Provided</p>
          <p class="section-description-right">Design and implementation of application</p>
          <p class="section-description-right">Test planning and QA</p>
        </div>
      </div>
    </div>
  </div>

  <div class="projects-page-bottom">
    <div class="challenge">
      <div class="challenge-box box">
        <h3 class="section-title">The Restrictions & Decision(s)</h3>
        <p class="section-description">Before starting, I was given restrictions on what languages I could code in to build the application. Because I initially thought to create an extensive UI with a light back-end, I leaned toward a scripting language. After reviewing the project’s scope, I realized that it called for a heavier and more secure back-end and needed a backend language. This led me to two powerful languages, Java and C#.
          I knew the application was going to be run on Windows and I wanted the application to have an expressive GUI capabilities. Although my programming back-end knowledge is strongest in Java, I opted for C# with a .NET Framework. It is important to note that I have never before programmed in C# before or developed a GUI, but I saw this challenge as an opportunity to learn by throwing myself in to the very deep deep end.
        </p>
        <p class="section-description">
          I had a month to build this application from start to finish. Since this application wasn't within the scope of my internship work, the coding had to happen after hours. Each feedback cycle included a night or two of coding followed by an early morning presentation of what was accomplished during the previous nights. I would receive feedback and then return home and continue. This cycle lasted until the final project due date.
        </p>
        <p class="section-description">
        </p>
      </div>
    </div>

    <div class="end-product box">
        <div class="end-product-inner">
          <h3 class="section-title">End Product</h3>
          <p class="section-description">The purpose of this application is to align with the
            conference's theme of 'thinking like an attacker'. At the conference, there were 4
            production-style computers with flags (a combination of username,
            password, IP address and/or SSH keys). Each participant was to input these credentials into my program's flag fields and if correct, the user was able
            to advance to finding the next flag. With each flag entry, my application
            would capture info about the specific flag, the associated score,
            and the time in which the player found the flag. Once the user either exits
            or finishes the game, content of a player's session was encrypted to a separate .txt
            file.
          </p>
          <p class="section-description">As part of my program, each session's files were encrypted in order to prevent cheating
            across different player sessions. After each session, a script was run that would erase
            session's search history, cache, and other information that would give others hints from previous sessions.
          </p>
          <p class="section-description">At the end of the event, I harvested the encrypted data with
            the associated decryption key. In doing so, an .xlsx file was returned with the summation of the day's
            players' sessions (names, emails, flag information, time-ended, etc).</p>
          <p class="section-description">
          </p>
          <h2 class="section-title">The Backend</h2>
            <ul>
              <li>Written in C#</li>
              <li>Calculations based on differing scenarios of flag retrieval</li>
              <li>Writes computer flag type, time of each flag, score, and user information to logs locally</li>
              <li>Encryption and decryption of logs in order to prevent cheating and conceal a previous user’s correct answers</li>
              <li>A script that would erase previous users clicks and search history after each session</li>
              <li>Timers to keep track of each flag retrieval and when the allotted game time has expired</li>
            </ul>
        </div>
        <!-- <div class="end-product-images">
          <img class="end-product-computer" src="images/koshercomputer.png">
          <div class="end-product-mobile-flex">
            <img class="end-product-mobile" src="images/koshermobilelayout.png">
          </div>
        </div> -->
        <!-- <div class="next-button next-button-images">
          <i class="fas fa-angle-down"></i>
          <p class="next-button-text">challenges</p>
        </div> -->
    </div>



    <div class="outcome">
      <div class="outcome-inner box">
        <h3 class="section-title">The Outcome</h3>
        <h2 class="subsection">What was accomplished:</h2>
        <ul class="section-description">
          <li>Built an interactive application for users to compete to win tickets to Black Hat</li>
          <li>Presented application in front of department heads and fellow engineers to ensure application was up to par with CyberArk product standards</li>
          <li>Invited to conference to present application in front of attendees</li>
        </ul>
      </div>
    </div>

    <div class="reflection">
      <div class="reflection-inner box">
        <h3 class="section-title">Reflection</h3>
        <p class="section-description">
        This experience was brilliant! This application was my first real taste of professional back-end developing (while in school). I felt empowered because I had complete ownership. For every coding or conceptual obstacle, it up to me to figure it out technically.
        </p>
      </div>
    </div>

  </div>
</div>


  <% include partials/footer.ejs %>
