
<% include partials/head.ejs %>
<body>
  <% include partials/nav.ejs %>
  <div class="container projects">
			<div class="row">
				<div class="col-md-9 projects-parent">
					<div class="project-child kosher-wanderer">
						<div class="project-descr">
							<a href= "kosher-wanderer"> <img src="images/koshercomputer.png" class="project-computer"> </a>
						</div>
					</div>
					<div class="project-child cyberark">
						<div class="project-descr">
							<img src="images/cyber_flag.png" class="project-computer cyberark-logo">
							<!-- <div class="mobile-wrapper">
								<img src="images/cyberarklogo.png" class="project-mobile">
							</div> -->
						</div>
					</div>
				</div>
			</div>
	</div>

  <% include partials/footer.ejs %>
