
<% include partials/head.ejs %>
<body>
  <% include partials/nav.ejs %>
  <div class="container projects">
			<div class="row">
				<div class="col-md-12 projects-parent">
					<div class="project-child kosher-wanderer">
						<div class="project-descr">
							<a href= "kosher-wanderer"> <img src="images/koshercomputer.png" class="project-computer"> </a>
							<div class="mobile-wrapper">
								<img src="images/koshermobile.png" class="project-mobile">
							</div>
						</div>
					</div>
					<div class="project-child coarse-coding">
						<div class="project-descr">
							<img src="images/koshercomputer.png" class="project-computer">
							<div class="mobile-wrapper">
								<img src="images/koshermobile.png" class="project-mobile">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
