
<% include partials/head.ejs %>
<body>
  <% include partials/nav.ejs %>
  <div class="home-subtitle-wrapper">
      <h2 class="home-subtitle">Freelance Web Designer & Developer based out of Tel Aviv, Israel. Experienced in designing & developing websites and applications.</h2>
  </div>
  <div class="projects-wrapper">
    <div class="projects-parent">
      <div class="project-child kosher-wanderer">
        <div class="project-descr container">
          <a href= "kosher-wanderer image"> <img src="images/koshercomputer.png" class="project-computer"> </a>
          <div class="overlay">
            <div class="overlay-text">
                <h2 class="overlay-text-primary">The Kosher Wanderer</h2>
                <h3>Site, Logo, Design</h3>
            </div>
            <div class="overlay-button">
              <button class="overlay-button-text">View Project</button>
            </div>
          </div>
        </div>
      </div>
      <div class="project-child cyberark">
        <div class="project-descr container">
          <a href= "image"> <img src="images/cyber_flag.png" class="project-computer cyberark-logo"></a>
            <div class="overlay">
              <div class="overlay-text">
                <h2 class="overlay-text-primary">Cyberark Impact 2018</h2>
                <h3 class="overlay-text-secondary">App, Logic, Design</h3>
                </div>
              <div class="overlay-button">
                <button class="overlay-button-text">View Project</button>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>
<% include partials/footer.ejs %>
