<% include partials/head.ejs %>
<% include partials/nav.ejs %>
<div class="projects">
  <div class="top">
    <div class="project-image-wrapper">
      <img src="images/kosherlogo.png" class="kosher-logo project-logo">
    </div>
    <div class="description">
      <h2>PROJECT TIMELINE</h2>
      <p>2 months</p>
      <h2>WORK DONE</h2>
      <p>Site and logo design; Wireframing (Sketch); Implementation</p>
    </div>
  </div>
  <div class="opportunity box-white">
    <div class="opportunity inner">
    <p class="section-title">The Opportunity</p>
    <p class="section-description">The Kosher Wander is an informative travel blog that provides recipes and guidelines on how to maintain a strict diet while traveling (Kosher, vegetarian, gluten-free, etc). From her stories, recipes, and nuggets of advice, the author hopes to show that traveling to remote places  should not require you to compromise on a restricted diet.</p>
    </div>
  </div>
  <div class="solution box">
    <div class="solution-info inner">
      <p class="section-title">The Solution</p>
      <p class="subsection">Build a website!</p>
      <p class="section-description">The Kosher Wanderer needed a site that was not only dynamic, but responsive and user-friendly. Because the author wanted to reach a wide audience, it was important to produce useful content with lots of colour. This project was complex because the site was to have two messages; 1) travel blog and 2) recipes. After several meetings of white-boarding, I began outlining the User Flow.</p>
    </div>
    <div class="user-flow">
      <div class="user-flow-info info">
        <p class="subsection sub">User Flow</p>
        <div class="user-flow-images">
          <img class="user-flow-outline" src="images/kosheruserflow.png">
        </div>
      </div>
    </div>
  </div>
  <div class="end-product">
    <div class="end-product-box box-white">
      <div class="end-product-inner inner">
        <p class="section-title">End Product</p>
        <p class="section-description">After approval of the site’s user flow, we reviewed market strategies. It was decided to open a Instagram channel called @thebaketress. There, the author would be able to post her latest adventures and keep her followers close, to be accessed instantaneously. Upon approval of both, the actual implementation of the site began. I built out the entire front-end of the site using HTML and CSS and the raw code has been pushed to my private repository on Github. The hosting was taken care of a third-party provider.</p>
        <p class="section-description">Moving forward, we spoke about the installation of an SSL Certificate if we decide to eventually venture into accepting credit cards for subscriptions, selling recipes, or merch.</p>
      </div>
      <div class="end-product-images">
        <img class="end-product-computer" src="images/koshercomputer.png">
        <div class="end-product-mobile-flex">
          <img class="end-product-mobile" src="images/koshermobilelayout.png">
        </div>
      </div>
    </div>
  <div class="outcome">
    <div class="outcome-inner inner">
      <p class="section-title">The Outcome</p>
      <p class="subsection">What was accomplished:</p>
      <ul class="section-description">
        <!-- Arrow before each option -->
        <li>Built an interactive site</li>
        <ul>
          <p>Including:</p>
          <li>recipe pages</li>
          <li>remote travel blog pages</li>
        </ul>
        <li>Researched and created a personalized marketing strategy</li>
        <li>Expanded the site to be responsive and mobile-friendly</li>
        <li>Provided users a platform to learn how maintain their dietary restriction while in remote places</li>
      </ul>
    </div>
  </div>
  </div>
  <% include partials/footer.ejs %>
