<% include partials/head.ejs %>
<% include partials/nav.ejs %>


<div class="projects-page">
  <div class="projects-page-top">
    <div class="projects left-side">
      <div class="opportunity">
        <div class="opportunity inner-left box">
          <h3 class="section-title">The Opportunity</h3>
          <p class="section-description">The Kosher Wander is an informative travel blog that provides recipes and guidelines on how to maintain a strict diet while traveling (Kosher, vegetarian, gluten-free, etc). From her stories, recipes, and nuggets of advice, the Kosher Wanderer hopes to show that traveling to remote places  should not require you to compromise a restricted diet.</p>
        </div>
      </div>

      <div class="solution">
        <div class="solution-info inner-left box">
          <h3 class="section-title">The Solution</h3>
          <h2 class="subsection">Build a website!</h2>
          <p class="section-description">The Kosher Wanderer needs a site that was not only dynamic, but responsive and user-friendly. Because she wants to reach a wide audience, it is important to produce useful content with lots of colour. The site is to have two themes; 1) travel blog and 2) recipes. After several meetings of white-boarding, I began outlining the User Flow.</p>
        </div>
        <div class="user-flow">
          <div class="user-flow-info info">
            <h2 class="subsection sub">User Flow</h2>
            <div class="user-flow-images">
              <img class="user-flow-outline" src="images/kosheruserflow.png">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="right-side side-wrapper">
      <div class="project-right project-about inner-right">
        <p class="section-header-right">The Kosher Wanderer</p>
        <p class="section-description-right">The Kosher Wander is an informative travel blog that provides recipes and guidelines on how to maintain a strict diet while traveling (Kosher, vegetarian, gluten-free, etc).</p>
           <!-- From her stories, recipes, and nuggets of advice, the author hopes to show that traveling to remote places should not require you to compromise on a restricted diet.</p> -->
         <div class="project-image-wrapper">
           <p class="section-subheader-right">Logo</p>
           <img src="images/kosherlogo.png" class="kosher-logo project-logo section-description-right">
         </div>
        <div class="project-right-view">
          <p><a href="http://thekosherwanderer.com/">View website</a></p>
          <i class="fas fa-angle-right"></i>
        </div>
      </div>

      <div class="project-right project-details inner-right">
        <p class="section-header-right">Details</p>
        <p class="section-subheader-right">Project Timeline</p>
        <p class="section-description-right">2 months</p>
        <p class="section-subheader-right">Services Provided</p>
          <p class="section-description-right">Site design and implementation (responsive design)</p>
          <p class="section-description-right">Logo design</p>
          <p class="section-description-right">Wireframing</p>
      </div>
    </div>
  </div>
  <div class="projects-page-bottom">
    <div class="end-product box">
        <div class="end-product-inner">
          <h3 class="section-title">End Product</h3>
          <p class="section-description">After approval of the site’s user flow, we reviewed market strategies. It was decided to open a Instagram channel called @thebaketress. There, the Kosher Wanderer would be able to post her latest adventures and grow her following. Upon approval of both, the actual implementation of the site began. I built out the front-end using HTML and CSS and the raw code has been pushed to my private repository on Github. The hosting was taken care of a third-party provider.</p>
          <p class="section-description">Moving forward, we spoke about running the site over HTTPS if we eventually wanted to venture into commerce, accepting credit cards for subscriptions, selling recipes, or merch.</p>
        </div>
        <!-- <div class="end-product-images">
          <img class="end-product-computer" src="images/koshercomputer.png">
          <div class="end-product-mobile-flex">
            <img class="end-product-mobile" src="images/koshermobilelayout.png">
          </div>
        </div> -->
        <!-- <div class="next-button next-button-images">
          <i class="fas fa-angle-down"></i>
          <p class="next-button-text">challenges</p>
        </div> -->
    </div>

    <div class="challenge">
      <div class="challenge-box box">
        <h3 class="section-title">The Challenges</h3>
        <p class="section-description">
        We learn through application. This was my first client and my first project where I was able to apply what I have learned through hours of self-teaching. With that, the most natural, challenge was meeting clients expectations and doing so on time. As a developer in this ever-changing industry, it is critical for our own <i>personal growth</i> to educate ourselves on the most up-to-date practices.
        </p>
        <p class="section-description">
        Many times I found myself at a crossroad. Do I code according to my most comfortable practices? Or do I challenge myself to be better? One such crossroads was whether to make this site a responsive one. Looking back, the answer was a simple one- well, duh. But in that moment, that was not in the original agreement between client and freelancer. I wanted to be better and therefore I was. The site is now "mediatagified". upon project completion, I was happy that I didn't settle. I am happy I went back to add those details that to the client and their audience seem outwardly trivial, but in fact do add life to the product and to their business.
        </p>
        <p class="section-description">
        I sometimes look at my own code and think, what was I thinking? I have this urge to just go back and change just about everything- the spacing, the theme, the margins, the font choice. I found it to be important to realize that each project represents a certain stage in your learning process.
        </p>
      </div>
    </div>

    <div class="outcome">
      <div class="outcome-inner box">
        <h3 class="section-title">The Outcome</h3>
        <h2 class="subsection">What was accomplished:</h2>
        <ul class="section-description">
          <li>Built an interactive site</li>
          <ul>
            <p>Including:</p>
            <li>Recipe pages</li>
            <li>Remote travel blog pages</li>
          </ul>
          <li>Extensive research that led to the creation of a personalized marketing strategy</li>
          <li>Expansion of the site to be responsive and mobile-friendly</li>
          <li>A platform for visitors to learn how to maintain their dietary restriction while in remote places</li>
        </ul>
      </div>
    </div>
  </div>
</div>


  <% include partials/footer.ejs %>
