<% include partials/head.ejs %>
<% include partials/nav.ejs %>


<div class="projects-page">
  <div class="projects-page-top">
    <div class="projects left-side">
      <div class="opportunity">
        <div class="opportunity inner-left box">
          <h3 class="section-title">The Opportunity</h3>
          <p class="section-description">To showcase my past works and passion for development. I love building sites that viewers are excited about and use each side-project as a platform to learn new technologies beyond the 8-6+- work day.</p>
        </div>
      </div>

      <div class="objective">
        <div class="objective-info inner-left box">
          <h3 class="section-title">The Objective</h3>
          <p class="section-description">I built this site for several reasons; 1) I noticed that a lot of developers have sites with personality that not only display past works, but are expressive. I wanted to be expressive too and therefore, I must build one! 2) to leverage this opportunity to get my hands dirty with server-side code and build something from scratch without any restrictions, deadlines, or parameters.  3) showcase my past works and the preparation, organization, and development processes.
          <br>
          I love building sites that viewers are excited about and use each as a platform to learn new technologies beyond the 8AM-6PM+- work day.</p>
        </div>
      </div>
    </div>


    <div class="right-side side-wrapper">
      <div class="project-right project-about inner-right">
        <p class="section-header-right">My portfolio site!</p>
        <p class="section-description-right">The IMPACT Conference is Cyberark's annual where employees, partners, and customers come together for training, networking, exposure to new CYBR products, and to learn about what's new in the cyber space.</p>
         <div class="project-image-wrapper">
           <p class="section-subheader-right">Logo</p>
           <a href="/"><img src="images/avo_logo_one.png" class="sigal-logo"> </a>
         </div>
      </div>

      <div class="project-right project-details inner-right">
        <p class="section-header-right">Details</p>
        <p class="section-subheader-right">Project Timeline</p>
        <p class="section-description-right">Ongoing</p>
        <p class="section-subheader-right">The Stack and My Tools</p>
        <p class="section-description-right">Photoshop mockups for site design work</p>
        <p class="section-description-right">nodeJS for server-side</p>
        <p class="section-description-right">HTML/CSS client side development and design</p>
        <p class="section-description-right">A dab of JS for some love and affection</p>
      </div>
    </div>
  </div>

  <div class="projects-page-bottom">
    <div class="challenge">
      <div class="challenge-box box">
        <h3 class="section-title">The Challenge</h3>
        <p class="section-description">Build a site that would accurately depict what I love to do, my thought process, and vision when approaching each new project. With such a free-flowing project, the main challenge for me was compartmentalizing and getting past analysis paralysis. I found myself fixating on the themes, displays, and layout of this site for a long time. It only was until I said to myself, "today we are working on content!" that I began to formulate sentences that led to comprehensible thoughts that led to the actual content currently being viewed.</p>
      </div>
    </div>

    <div class="end-product box">
        <div class="end-product-inner">
          <h3 class="section-title">Things I learned along the way</h3>
          <p class="section-description">It is a lot harder to build something when you don't know what your content will be.</p>
        </div>
    </div>
  </div>
</div>


  <% include partials/footer.ejs %>
