/*
*
*     _                           _
*    /_\__   _____   ___ __ _  __| | ___
*   //_\ \ / / _ \ / __/ _` |/ _` |/ _ \
*  /  _  \ V / (_) | (_| (_| | (_| | (_) |
*  \_/ \_/\_/ \___/ \___\__,_|\__,_|\___/
*
*/
html {
  font-size: 62.5%; }

li {
  list-style: none; }

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif !important; }
  body .container {
    max-width: 1490px; }

p {
  font-size: 2rem;
  font-family: "Roboto", sans-serif; }

.section-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 2rem; }

.row {
  margin-top: 4rem; }

.navbar-header {
  display: flex;
  justify-content: flex-end;
  margin: 8rem 0rem 0rem 0rem; }

.navbar-wrapper {
  display: flex;
  justify-content: center; }

.sigal-logo {
  width: 14rem; }

.navbar-list {
  display: flex;
  justify-content: center; }
  .navbar-list li {
    padding: 2rem 2.5rem 2rem 2.5rem;
    font-family: 'oswald';
    letter-spacing: 0.15rem;
    color: #6d6663;
    font-weight: 300;
    font-size: 2rem; }

.box-white {
  padding: 6rem 35rem 17rem 35rem; }

.section-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold; }

.subsection {
  font-size: 2rem;
  margin-bottom: 2rem; }

.sub {
  text-align: center; }

.projects-parent {
  display: flex;
  margin: 0 auto;
  transition: 1s; }

.project-child {
  padding: 3rem 8rem 8rem 3rem;
  margin: 0 auto;
  padding-bottom: 15rem; }

.project-descr {
  display: flex; }

.selected {
  padding-bottom: 15rem; }

.not-active {
  visibility: hidden; }

.project-computer {
  width: 50rem;
  height: 32rem; }

.project-mobile {
  width: 15rem;
  height: 25rem; }

.mobile-wrapper {
  display: flex;
  align-items: center;
  padding-left: 2rem; }

.project-logo {
  margin: 0 auto;
  width: 28rem;
  padding: 0rem 3rem 0rem 0rem; }

.projects {
  margin-top: 10rem; }
  .projects .top {
    display: flex;
    justify-content: center;
    margin-top: 5rem; }
  .projects .description {
    display: flex;
    justify-content: center;
    flex-direction: column; }

.solution {
  padding-top: 10rem; }

.user-flow-info {
  padding-top: 3rem;
  padding-bottom: 16rem; }

.user-flow-images {
  text-align: center; }

.user-flow-outline {
  padding: 2rem;
  background: white;
  width: 58rem;
  box-shadow: 0.2rem 0.2rem 3rem rgba(0, 0, 0, 0.3); }

.box {
  padding: 14rem 35rem 1rem 35rem;
  width: 100%;
  margin: 0 auto;
  background: #f6f6f6; }

.end-product-images {
  display: flex;
  justify-content: center;
  padding-top: 5rem; }

.end-product-box {
  padding: 15rem 10rem 10rem 10rem; }

.end-product-inner {
  padding: 0rem 0rem 0rem 11rem; }

.end-product-computer {
  width: 76rem;
  height: 47rem; }

.end-product-mobile {
  width: 33rem;
  height: 42rem; }

.end-product-mobile-flex {
  display: flex;
  padding: 3rem;
  justify-content: center;
  flex-direction: column; }

.footer {
  width: 35%;
  margin: 0 auto; }
  .footer .footer-wrapper {
    display: flex; }
  .footer .footer-description {
    font-size: 1.5rem;
    padding: 4rem 14rem 4rem 0rem;
    font-family: 'Open Sans', sans-serif; }
  .footer .footer-icons {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .footer .footer-icons .footer-icon-list {
      display: flex; }
      .footer .footer-icons .footer-icon-list .icon {
        margin: 1rem;
        font-size: 1.75rem; }

/*# sourceMappingURL=style.css.map */
