/*
*
*     _                           _
*    /_\__   _____   ___ __ _  __| | ___
*   //_\ \ / / _ \ / __/ _` |/ _` |/ _ \
*  /  _  \ V / (_) | (_| (_| | (_| | (_) |
*  \_/ \_/\_/ \___/ \___\__,_|\__,_|\___/
*
*/
html {
  font-size: 62.5%; }

li {
  list-style: none; }

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif !important; }
  body .container {
    max-width: 1490px; }

p {
  font-size: 2rem;
  font-family: "Roboto", sans-serif; }

.section-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 2rem; }

.row {
  margin-top: 4rem; }

.navbar-header {
  display: flex;
  justify-content: flex-end;
  margin: 8rem 0rem 0rem 0rem; }

.navbar-wrapper {
  display: flex;
  justify-content: center; }

.sigal-logo {
  width: 14rem; }

.navbar-list {
  display: flex;
  justify-content: center;
  padding-right: 10rem; }
  .navbar-list li {
    padding: 2rem 2.5rem 2rem 2.5rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-weight: 500;
    font-size: 2rem;
    font-size: 1.7rem;
    opacity: .5; }
  .navbar-list :hover {
    text-decoration: none; }
  .navbar-list a {
    color: black; }

.box-white {
  padding: 14rem 0 14rem 0;
  width: 100%;
  margin: 0 auto; }

.section-title {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold; }

.subsection {
  font-size: 2rem;
  margin-bottom: 5rem; }

.sub {
  text-align: center; }

.projects-parent {
  display: flex;
  margin: 0 auto;
  transition: 1s; }

.project-child {
  padding: 0rem 0rem 0rem 0rem;
  position: relative;
  width: 550px;
  height: 320px;
  overflow: hidden; }

.primary-btn {
  text-transform: uppercase;
  color: white;
  justify-content: center;
  width: 20rem;
  background: rgba(69, 155, 182, 0.7);
  border-radius: .5rem;
  padding: .5rem 0rem .5rem 0rem;
  margin: 2rem 0rem 0rem 0rem;
  font-size: 1.5rem; }

.next-button {
  text-transform: uppercase;
  color: white;
  justify-content: center;
  width: 14rem;
  background: rgba(69, 155, 182, 0.7);
  display: flex;
  padding: 1rem 0rem 0rem 0rem;
  margin-top: 10rem;
  border-radius: .5rem; }
  .next-button .next-button-text {
    font-size: 1.5rem; }
  .next-button .fa-angle-down {
    color: white;
    padding: .5rem 0.7rem 0rem 0rem;
    font-size: 1.5rem; }

.next-button-images {
  margin: 10rem auto; }

.project-descr {
  display: flex;
  position: absolute;
  top: 0;
  left: 0; }

.project-descr img {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease; }

.project-child:hover .project-descr img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  border-top: 1px solid transparent; }

.selected {
  padding-bottom: 15rem; }

.not-active {
  visibility: hidden; }

.project-computer {
  height: 32rem; }

.project-mobile {
  width: 15rem;
  height: 25rem; }

.mobile-wrapper {
  display: flex;
  align-items: center;
  padding-left: 2rem; }

.project-logo {
  margin: 0 auto;
  width: 28rem;
  padding: 0rem 3rem 0rem 0rem; }

.projects .row {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 13rem; }
.projects .top {
  display: flex;
  justify-content: center;
  margin-top: 5rem; }
.projects .description {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.user-flow-info {
  width: 60%;
  padding-top: 3rem;
  margin: 0 auto; }

.user-flow-images {
  text-align: center; }

.user-flow-outline {
  padding: 2rem;
  margin-bottom: 4rem;
  background: white;
  width: 58rem;
  box-shadow: 0.2rem 0.2rem 3rem rgba(0, 0, 0, 0.3); }

.box {
  padding: 14rem 0rem 14rem 0rem;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(180deg, #e9f0f5 0, #FEFEFE 100%); }

.inner {
  width: 60%;
  margin: 0 auto; }

.end-product-images {
  display: flex;
  justify-content: center;
  padding-top: 5rem; }

.end-product-computer {
  width: 76rem;
  height: 47rem; }

.end-product-mobile {
  width: 33rem;
  height: 42rem; }

.end-product-mobile-flex {
  display: flex;
  padding: 3rem;
  justify-content: center;
  flex-direction: column; }

.about-me {
  padding: 6rem 0rem 0rem 0rem; }
  .about-me .about {
    display: flex;
    width: 60%; }
    .about-me .about img {
      width: 45rem;
      height: 40rem;
      margin-left: 5rem;
      z-index: 2; }

.contact {
  z-index: 1;
  margin-top: -8rem; }
  .contact .contact-row {
    display: flex; }
    .contact .contact-row .contact-field-area {
      width: 36rem;
      height: 6rem;
      margin: 2rem 2rem 0rem 0rem;
      padding: 2rem; }
  .contact .contact-field-message {
    margin: 2rem 0rem 0rem 0rem;
    padding: 2rem; }

.footer {
  padding-top: 3rem;
  width: 35%;
  margin: 0 auto; }
  .footer .footer-wrapper {
    display: flex; }
  .footer .footer-description {
    font-size: 1.5rem;
    padding: 4rem 14rem 4rem 0rem;
    font-family: 'Open Sans', sans-serif; }
  .footer .footer-icons {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .footer .footer-icons .footer-icon-list {
      display: flex; }
      .footer .footer-icons .footer-icon-list .icon {
        margin: 1rem;
        font-size: 1.75rem; }

/*# sourceMappingURL=styles.css.map */
